<?xml version="1.0" encoding="utf-8"?>
  <log4net xmlns="log4net">
    <!-- 文件日志Appender -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name="File" value="logs\log4net"/>
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true"/>
      <!--log保留天数-->
      <param name="MaxSizeRollBackups" value="30"/>
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false"/>
      <!--日志文件名格式为:log4net.2016-06-10.log-->
      <param name= "DatePattern" value= ".yyyy-MM-dd&quot;.log&quot;"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--日志根据日期滚动-->
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%newline%date [%thread] %-5level %logger %type => %method%newline- %message%newline" />
      </layout>
    </appender>

    <!-- 数据库日志Appender -->
    <appender name="DatabaseAppender" type="log4net.Appender.AdoNetAppender">
      <connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      <connectionString value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.1.33)(PORT = 1521)))(CONNECT_DATA=(SERVICE_NAME=kadkdb)));User Id=khy;Password=khy360kad;Persist Security Info=True;"/>
      <commandText value="insert into KHY_ERRORLOG(BelongSystem, BelongModule, Summary, Description, Remark, ErrorCode, CreateTime, Status, DisposeUserId, DisposeUserName, DisposeTime) values (null, null, null, :Message, null, :ErrorCode, sysdate, 0, null, null, null)"/>
      <bufferSize value="1"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>

      <parameter>
        <parameterName value=":Message"/>
        <dbType value="String"/>
        <size value="1000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message %newline %exception"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":ErrorCode"/>
        <dbType value="String"/>
        <size value="100"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ErrorCode}"/>
        </layout>
      </parameter>
    </appender>

    <root>
      <!-- OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL -->
      <priority value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="DatabaseAppender"/>
    </root>
  </log4net>
