<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- 控制台日志 -->
    <target name="ConsoleLog" xsi:type="Console" layout="${longdate} ${level}  ${message}" />
    
    <!-- 文件日志 -->
    <!-- ${threadid:padding=3} ${exception:format=tostring} ${date:format=HH\:MM\:ss} ${newline} ${stacktrace} ${callsite} ${logger} ${machinename} -->
    <target name="FileLog" xsi:type="File" fileName="${basedir}/logs/nlog.${shortdate}.log" layout="${longdate} ${threadid:padding=3} ${level:uppercase=true} ${callsite:skipFrames=2}${newline}${stacktrace}${newline} - ${message} ${exception}${newline}" />
    <target name="ErrorLog" xsi:type="File" fileName="${basedir}/logs/nlog.error.${shortdate}.log" layout="${longdate} ${threadid:padding=3} ${level:uppercase=true} ${callsite:skipFrames=2}${newline}${stacktrace}${newline} - ${message} ${exception}${newline}" />
    <!-- 数据库日志：sql语句末尾不要有分号(;)，参数以冒号(:开头) -->
    <!--<target name="DatabaseLog" xsi:type="Database" connectionStringName="KHY_Con_KHY">
      <commandText>insert into KHY_ERRORLOG(BelongSystem, BelongModule, Summary, Description, Remark, ErrorCode, CreateTime, Status, DisposeUserId, DisposeUserName, DisposeTime) values (null, null, null, :Message, null, :ErrorCode, sysdate, 0, null, null, null)</commandText>
      --><!--parameters--><!--
      --><!-- ${stacktrace} >>  --><!--
      <parameter name=":Message" layout="${message} ${newline} ${exception} " />
      <parameter name=":ErrorCode" layout="${event-properties:item=ErrorCode}" />
    </target>-->
    
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="ConsoleLog,FileLog" />
    <logger name="*" minlevel="Error" writeTo="ErrorLog" />
  </rules>
</nlog>
